body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}

.authors {
    font-size: 18px;
}

.authors a {
    color: #000000;
    
}

.authors a:hover {
    text-decoration: none;
}
.section-buttons {
    text-align: center;
    margin-top: 50px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 12px 22px;
    border-radius: 30px;
    text-decoration: none;
    margin: 0 8px;
    font-size: 18px;
    font-weight: 500;
}

.btn span {
    margin-right: 6px;
}

.btn:hover {
    background-color: #555;
}

/* Abstract Section */
.introducion-section {
    max-width: 900px;
    margin: 50px auto;
    text-align: justify;
    padding: 0 20px;
}

.introducion-section h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.implement-section {
    max-width: 900px;
    margin: 50px auto;
    text-align: justify;
    padding: 0 20px;
}

.implement-section h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}
/* Concepts Section */

.concepts-section {
    max-width: 950px;
    margin: 60px auto;
    padding: 0 25px;
    text-align: justify;
}

.concepts-section h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    color: #333;
    font-weight: 700;
}

.concepts-section ol {
    font-size: 18px;
    line-height: 1.6;
    padding-left: 20px;
}

.concepts-section li {
    margin-bottom: 18px;
}
